# Environments
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data & Logs (Keep structure, ignore content)
datasets/*/
!datasets/**/.gitkeep
logs/*.log
outputs/**/*

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db