venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
.vscode/

logs/
outputs/

.streamlit/secrets.toml

.ipynb_checkpoints/

models/*.h5
models/*.keras
models/*.ckpt

datasets/ml_dataset/*.npy

*.zip
*.tar.gz